body {
	font-family: "Segoe UI";
	font-size:14px;
	background-color:#E5E8EB;
	color:#444;
}

.attrib {
	font-size:12px;
}

br {
	margin:2px 0px;
}

p {
	margin-top: 12px;
	margin-bottom: 12px;
}

h1 {
	width:100%;
	font-size:24px;
	text-align:center;
	margin-top:0px;
	margin-bottom:12px;
}

.wrapper {
	max-width:400px;
	padding:20px;
	background-color:rgb(250,250,250);
	border-radius:12px;
	
	margin:0 auto;
}

.attrib {
	margin-bottom: 0px;
}

@media (min-width: 480px) {
	.wrapper {
		padding-top:20px;
	}
}