body {
	font-family:"Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
	font-size:14pt;
	color:#FCFF00;
	text-align:center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#center {
	display:inline-block;
	overflow:hidden;
	border: 4px solid black;
	border-radius: 32px;
	margin: 50px auto;
	background-color:#3800E0;
}

#header {
	text-align:left;
}

#logo {
	margin-top:8px;
	margin-left:12px;
	margin-right:3px;
	display:inline-block;
}

#title {
	display:inline-block;
	padding-right:8px;
}

#main-title {
	font-size:56pt;
	font-weight:bold;
	letter-spacing:-0.1em;
	margin-top:-12px;
	margin-bottom:-16px;
	margin-right:16px;
}

#title-row {
	font-size:14pt;
	letter-spacing:0.4em;
	height:30px;
}

#secondary-title {
	padding-left:5px;
}

#version-number {
	float:right;
}

#navigation {
	clear:both;
	text-align:center;
	color:#3800E0;
	background-color:#FCFF00;
}

#seperator {
	clear:both;
	width:100%;
	height:4px;
	background-color:#FCFF00;
}

#bs-container {
	text-align:left;
	height:500px;
	width:100%;
	overflow:hidden;
}

.bs-cell {
	overflow: hidden;
	word-wrap: break-word;
	height: 500px;
	vertical-align: text-top;
	display:inline-block;
	float:left;
}

.bs-data {
	font-size:10pt;
	font-weight:bold;
}

.bs-data, .bs-title {
	width:100%;
	overflow: hidden;
	display:inline-block;
	word-wrap: break-word;
}