body {
	font-family: "Segoe UI Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-size:16px;
	color:#333;
	background-color:rgb(230,230,230);
}

p {
	margin-top:8px;
	margin-bottom:8px;
	padding-left: 20px;
}

textarea {
	height: 150px;
	width: 300px
}

input {
	width: 175px;
}

.attrib {
	font-size:12px;
}

h1 {
	font-size:24px;
	margin-top:16px;
	margin-bottom:8px;
}

h2 {
	width:100%;
	font-size:36px;
	text-align:center;
	margin-top:0px;
	margin-bottom:16px;
}

.wrapper {
	max-width:600px;
	padding:20px 20px;
	background-color:rgb(250,250,250);
	border-radius:12px;
	
	margin:0 auto;
}