body {
	background-color: #C3C3C3;
	font-family: "Courier Prime","Courier New",monospace;
	font-size: 14px;
	line-height:1.75;
}
.chat, .faqtext {
	box-sizing: border-box;
	max-width: 640px;
	padding: 30px;
	margin:auto;
}
.chat {
	font-weight: bold;
	background-color: #EFEFEF
}
.faqtext {
	background-color: #FFFFFF;
}
img.panel, img.faqheader {
	display:block;
	margin:auto;
	width:100%;
	max-width: 640px;
}
img.panel {
	margin-bottom:30px;
}
.next {
	text-align: center;
	font-size: 3.5em;
}
.title {
	text-align: center;
	font-size: 3.5em;
	margin-bottom:30px;
}
.narration {
	text-align: center;
	margin-bottom:30px;
}

@media (orientation: portrait) {
  .chat, .faqtext {
	width: 100%;
	max-width:none;
  }
  img.panel, img.faqheader {
	width: 100%;
	max-width:none;
  }
}

/* ------------------------ */

.spoiler {
	
}
.summary {
	font-weight:normal;
	cursor:pointer;
	user-select: none;
}
.inside {
	background-color: #EFEFEF;
	font-size: 0.85em;
	font-weight: bold;
}
.closed .inside {
	display:none;
}

/* ------------------------ */

.kb {
	color: black;
}
.mw {
	color: #B482B4;
}
.ae {
	color: #A89745;
}
.az {
	color: #D83900;
}
.ip {
	color: #10008E;
}