body {
	font-family:'Source Serif Pro';
	background-color: #bbb;
}

p {
	font-size:12pt;
	margin-top:5px;
	margin-bottom:5px;
}

h3 {
	font-size:24pt;
}

#map-section {
	display:flex;
}

#container {
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

#selected-data {
	width: 300px;
}

#data {
	max-width: 656px;
}

summary {
	cursor: pointer;
}